.heading {
    text-align: center;
}

.start_container {
    width: 50%;
    font-size: 20px;
    margin: auto;
}

.input {
    margin-left: 20px;
}

.next {
    display: flex;
    align-items: center;
    justify-content: center;
}